<!-- Hero -->
<div class="hero" id="sobre">
  <section>
    <img ngSrc="assets/image.png" width="500" height="500" alt="Minha foto" />
  </section>

  <section class="hero-text">
    <span class="title">Desenvolvedor Front-End</span>
    <span class="subtitle">Olá, me chamo Guilherme</span>
    <span class="tagline"
      >De ideias a experiências: construo interfaces modernas e responsivas,
      focadas no usuário.</span
    >

    <div class="social-links">
      <a
        href="https://www.linkedin.com/in/guilherme-sousa-borges-99a182166/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/linkedin.svg" alt="LinkedIn" width="32" height="32" />
      </a>
      <a
        href="https://github.com/GuilhermeSousaBorge"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/github.svg" alt="GitHub" width="32" height="32" />
      </a>
      <a
        href="https://gitlab.com/guilhermepllay157"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/gitlab.svg" alt="GitLab" width="32" height="32" />
      </a>
    </div>
  </section>
</div>
