<!-- Projetos -->
<section class="projects" id="projects">
  <h2>Projetos</h2>
  <section class="projects-container">
    @for (item of repos; track item.id) {
    <div class="project-card">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description || "Sem descrição 😅" }}</p>
      <p><strong>Linguagem:</strong> {{ item.language }}</p>
      <a [href]="item.html_url" target="_blank">🔗 Ver no GitHub</a>
      @if (item.has_pages) {
      <a [href]="getRepoUrl(item)" target="_blank">Confira a demo</a>
      } @else if(item.homepage) {
      <a [href]="item.homepage" target="_blank">Confira a demo</a>
      } @else(){
      <span>Site indisponível</span>
      }
    </div>
    }
  </section>
</section>
